<div class="container my-5">
    <div class="row">
        <h1 class="text-center text-primary">Weddings At Nexus</h1>
        <div class="col-6 mt-2">
            <img src="contents/images/events/Organized Events/wedding-1.png" class="rounded"
                style="height: 450px; width:100%;" alt="">
        </div>
        <div class="col-6 mt-2">
            <img src="contents/images/events/Organized Events/wedding-2.jpg" class="rounded"
                style="height: 450px; width:100%;" alt="">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-8 ">
            <h2 class="text-info mt-5">LIVE WEDDING VENUE</h2>

            <p> Between the stunning combination of marine life and our open to intimate event spaces, we will
                create the perfect atmosphere for your special day.<strong class="text-info">You'll be surrounded on
                    all sides by life under the sea on your big day.</strong> When you say “I Do” to a Nexus
                Aquarium Wedding, you not only get the backdrop of our living gallery walls, but you’ll also partner
                with Catering experts to ensure your wedding is a reflection of your love, your journey and your
                personality. Whether you are planning an intimate vow exchange or a large celebration, our dedicated
                event professionals will collaborate with you to create a wedding experience unlike any other you
                and your guests have ever seen.</p>
            <br>
            <p>
            <h2 class="text-info mt-5">Wedding Perks!</h2>
            <ul>
                <li>Aquatic viewing windows are a mesmerizing backdrop for your guests, including event volunteers
                    available to answer questions about ocean life​</li>
                <li>Ample space for guests to comfortably enjoy the wedding festivities​</li>
                <li>Exclusive photography for the wedding couple inside Nexus Aquarium galleries​</li>
                <li>Customizable enhancements: digital welcome screen, Oceans Ballroom ceiling lighting, and
                    pre-function lighting​</li>
            </ul>
        </div>
        <div class="col-4">

            <div class="container mt-3">
                <div class="card" style="width:420px;">
                    <div class="card-body">
                        <h4 class="card-title">Wedding Menu</h4>
                        <p class="card-text">Nexus will create delicious memories as unique as your story.</p>
                        <a href="#" class="btn btn-outline-info">Select Menu</a>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Stunning Wedding Photos</h4>
                        <p class="card-text">Your wedding photos will be a work of art.</p>
                        <a href="#" class="btn btn-outline-info">Select Photographer</a>
                        <br><br>
                        <a href="#" class="btn btn-outline-primary">Book Now</a>
                    </div>

                </div>
            </div>
        </div>        
    </div>
</div>

<div class="container fixed-bottom"><a href="#!booking"><button type="button" class="btn btn-block btn-primary text-light w-100 fs-5 fw-semibold"><span class="material-symbols-outlined me-3 align-middle mb-1">local_activity </span><span>Book your Tickets Now</span></button></a></div>
