<!-- ---------------Main Image Of Events Page---------------------- -->
<div class="container-fluid">
  <div class="row"></div>
  <div class="col">
    <img src="contents/images/events/Organized Events/dining-1.jpg" class="rounded w-100 h-100" alt="">
  </div>
</div>
</div>

<!-- --------------Hosting Events---------------- -->
<!-- (Birthdays,Weddings,Cafe) -->
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h2 class="text-center text-primary">Hosting Events At Nexus Aquarium</h2>
    </div>
  </div>
  <div class="row mt-4 mb-5">
    <!-- -----Weddings----- -->
    <div class="col-md w-100 h-100">
      <div class="card mt-2">
        <img class="card-img-top w-100 h-100" src="contents/images/events/Organized Events/wedding-1.png">
        <div class="card-body">
          <h4 class="card-title">Wedding Perks</h4>
          <p class="card-text fs-5 text-secondary">Between the stunning combination of marine life and our open to
            intimate event spaces, we will help create the perfect atmosphere for your special day.</p>
          <a href="#!weddings"><button class="btn btn-outline-primary fs-5">More Details</button></a>
        </div>
      </div>
    </div>
    <!-- ------Birthdays------ -->
    <div class="col-md w-100 h-100">
      <div class="card mt-2">
        <img class="card-img-top w-100 h-100" src="contents/images/events/Organized Events/birthday-2.jpg">
        <div class="card-body">
          <h4 class="card-title">Birthday Celebrations</h4>
          <p class="card-text fs-5 text-secondary">Birthday Parties at Home or Resturants is getting old and boring as
            so we are introducing underwater birthdays at our Nexus Aquarium. Make a Splash with your Birthday Party and
            Amaze Everyone with your Amazing Pics.</p>
          <a href="#!birthdays"><button class="btn btn-outline-primary fs-5">More Details</button></a>
        </div>
      </div>
    </div>
    <!-- ------Cafe Nexus------ -->
    <div class="col-md w-100 h-100">
      <div class="card mt-2">
        <img class="card-img-top w-100 h-100" src="contents/images/events/Organized Events/cafe-1.png">
        <div class="card-body">
          <h4 class="card-title">Nexus Cafe</h4>
          <p class="card-text fs-5 text-secondary">Our Cafe will be open for dine-in meals during your visit. Place your
            order and pay for your meal using your mobile device...</p>
          <a href="cafe.html"><button class="btn btn-outline-primary fs-5">More Details</button></a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ---------------FieldTrips------------------ -->
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h2 class="text-primary">Field Trips At Nexus Aquarium</h2>
    </div>
  </div>
  <div class="row">
    <div class="col mt-4">
      <img src="contents/images/events/FieldTrips/ft-3.jpg" class="rounded w-100 h-100">
    </div>
    <div class="col-lg mt-4">
      <p class="text-primary fw-semibold fs-5 mt-2">A Great Experience awaits for your Class at our Aquarium</p>
      <p class="fs-5 mt-2">Prepare for your visit and help your students make the most of this opportunity.</p>
      <p class="fs-5">Nexus Aquarium’s Education department is otter-ly excited to announce that we'll now be allowing
        students for a fieldtrip at our Aquarium.
        All schools that book a field trip for the day are invited to speak with Aquarium professionals as well as local
        professionals from a variety of different fields
        such as Water Quality assessment, Hospitality, Financial, Dive Safety and many more.</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <a href="fieldtrips.html"><button class="btn btn-outline-primary btn-block w-100 btn-lg mt-2 mb-5">Visit Page for More
        Details</button></a>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h2 class="text-center text-primary">Fun Learning Programs At Nexus Aquarium</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg w-100">
      <div class="card mt-3">
        <img class="card-img-top" src="contents/images/events/Climate Summits/toddler-1.jpg">
        <div class="card-body">
          <h4 class="card-title">Toddler Tuesday</h4>
          <p class="card-text fs-5 text-secondary">Explore the Sea With Your Mini! Bring your toddler on a fun and
            educational adventure in Nexus Aquarium’s Oceans Ballroom with views of beluga whales, whale sharks, manta
            rays and more!</p>
          <a href="toddler.html"><button class="btn btn-outline-primary fs-5">More Details</button></a>
        </div>
      </div>
    </div>
    <div class="col-lg w-100">
      <div class="card mt-3">
        <img class="card-img-top" src="contents/images/events/Climate Summits/plastic-1.jpg">
        <div class="card-body">
          <h4 class="card-title">Ocean Plastic Pollution Summit</h4>
          <p class="card-text fs-5 text-secondary">Our free institutes and workshops let you explore coastal habitats,
            incorporate technology into your lessons and dive deeper into issues like climate change and
            plastic pollution.</p>
          <a href="pollution.html"><button class="btn btn-outline-primary fs-5">More Details</button></a>
        </div>
      </div>
    </div>
    <div class="col-lg w-100">
      <div class="card mt-3">
        <img class="card-img-top" src="contents/images/events/Climate Summits/instructor-1.jpg">
        <div class="card-body">
          <h4 class="card-title">Instructor-Led Programs</h4>
          <p class="card-text fs-5 text-secondary">Our engaging instructor-led programs provide focused learning
            opportunities where students can ask questions, collaborate and problem solve with guidance of our Georgia
            Aquarium Educators.</p>
          <a href="instruction.html"><button class="btn btn-outline-primary fs-5">More Details</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ---------------Community Favourites------------------ -->
<!-- (Nano Aquascpace, Tales Of Nexus, Teen Events) -->
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h2 class="text-primary mb-3">Communty Favourites</h2>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <hr style="border: 1px solid black;">
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-2">
    <div class="col">
      <iframe height="315px" class="w-100 h-100 rounded" src="https://www.youtube.com/embed/iaVj6qJqaP0"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="col-lg mt-3">
      <p class="text-primary fs-4">Build your Own Personal Nano Aquarium</p>
      <p class="fs-5">We are presenting you with a Video of one of our Top Student Jack Ma (Student of Elon Musk)
        guiding you Step-by-Step on How to build a Beautiful Nano Aquarium which can be a great decoration piece for
        any space/room. This can be easily made by anyone above 7 and a special thing is it can be made in a Wine
        Glass as Shown in this following Video! If you are Starting new in this field or just want to have some small
        fish pets.... the guide is perfect for you</p>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <hr style="border: 1px solid black;">
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-2">
    <div class="col">
      <img src="contents/images/events/Community Favs/story-1.jpg" class="rounded w-100 h-100">
    </div>
    <div class="col-lg mt-3">
      <p class="fs-4 text-primary">Story of the Beginnings of this Aquarium</p>
      <p class="fs-5"> In the Late 1980's 2 Brothers known by the name of Wilson Brothers had a Small Shop in the city
        of Washington DC. This was your ordinary fish shop where you would find goldfishes, guppies etc. but they had
        one Special Clownfish which they named Nexus (hence the name of the aquarium) which had been living with them
        for 3 years, so, when they were being kicked by their landlord, the fish tank in which Nexus was Fell down but
        the Landlord's Guards wouldn't let them help the poor fish and theye watched him dying. It was then they decided
        that they would establish such a Business so they never have to feel this Embarrased and Woudn't have to see a
        Family Member (They considered Nexus as thir family as they had no real one) Die becuse of them .</p>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <hr style="border: 1px solid black;">
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-2">
    <div class="col">
      <img src="contents/images/events/Teen Events/tcl.jpeg" class="rounded w-100 h-100">
    </div>
    <div class="col-lg mt-3">
      <p class="fs-4 text-primary">Teen Consevation Leaders (TCL)</p>
      <p class="fs-5">The Teen Conservation Leaders (TCL) program provides an important volunteer service to the
        Aquarium, our guests and our communities.During a fun and intensive two-week training at the beginning of the
        summer, students learn basic marine biology and ocean conservation.</p>
      <p class="fs-5">Upon completion of the training, students provide exhibit interpretation for our guests.
        As a Teen Conservation Leader, students develop important job and life skills, build self-confidence and earn
        community service hours.
      </p>
      <a href="TCL.html"><button class="btn btn-outline-primary btn-lg">More Details</button></a>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <hr style="border: 1px solid black;">
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>

<div class="container fixed-bottom"><a href="#!booking"><button type="button" class="btn btn-block btn-primary text-light w-100 fs-5 fw-semibold"><span class="material-symbols-outlined me-3 align-middle mb-1">local_activity </span><span>Book your Tickets Now</span></button></a></div>
